@model ProjetoPortfolio.Web.Models.LoginViewModel



<form asp-controller="Autenticacao" asp-action="Login" data-bs-theme="portfolio-dark" class="row row-cols-1 g-3" autocomplete="off">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col">
        <div class="form-floating">
            <input asp-for="UserName" placeholder="Nome de usuário" class="form-control text-white" />
            <label asp-for="UserName" class="control-label text-white">Nome de Usuário</label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="form-floating">
            <input asp-for="Password" placeholder="Senha" class="form-control text-white" />
            <label asp-for="Password" class="control-label text-white">Senha</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="submit" value="Enviar" class="btn btn-primary text-white" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
