

<form asp-area="" asp-controller="Autenticacao" asp-action="Logout" id="logoutForm" method="post" class="row">
    <div class="col-12">

        <p class="text-light">Bem vindo, @User.FindFirst("Nome").Value</p>
    </div>
    

        <input type="submit" value="Sair" class="btn btn-outline-primary" />
   
</form>


