
<link rel="stylesheet" href="~/css/contatos.min.css">
<section class="container">
    <article>
        <div class="text-white text-center py-5">
            <h1 class="display-1">Entre em contato</h1>
            <p>
                Se interessou por algum dos meus trabalhos? Tem algum projeto em mente? Entre em contato!<br />
                Envie uma mensagem direto para o meu e-mail ou através das minhas redes sociais. <br />
            </p>
        </div>
    </article>
</section>
<section class="container-fluid" data-bs-theme="dark" id="contato-section">
    <div id="contato-container" class="container">
        <article class="row row-cols-md-2 row-cols-md-2 row-cols-1">
            <form id="form-email" class="col text-primary rounded-5 bg-principal-escura py-5 z-3 mb-md-0 mb-3 px-md-0 px-5">
                <div class="col-12">
                    <h2 class="text-white">
                        Me envie uma mensagem 
                    </h2>
                    <hr />
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="assunto-input" name="assunto" placeholder="Assunto" aria-label="Assunto" aria-describedby="Assunto" maxlength="50">
                        <label for="assunto-input">
                            <i class="bi bi-journal-minus me-3"></i> Assunto
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email-input" name="remetente" placeholder="Email" aria-label="Email" aria-describedby="E-mail do remetente">
                        <label for="email-input">
                            <i class="bi bi-envelope-arrow-up-fill me-3"></i> Remetente
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" id="mensagem-textarea" name="mensagem" placeholder="Digite sua mensagem..." maxlength="500"></textarea>
                        <label for="mensagem-textarea">
                            <i class="bi bi-envelope-paper me-3"></i> Mensagem
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button class="btn btn-outline-success">Enviar</button>
                </div>
            </form>

            <div class="col" id="outros-contatos">
                <div class="d-flex flex-column py-md-5 h-100">
                    <a class="mb-3 text-decoration-none text-white text-md-start text-center" href="https://www.linkedin.com/in/vinicius-souza-dyonisio-a59a08206/">
                        <div class="linkedin-pill rounded-2 py-3 px-5">
                            <i class="bi bi-linkedin text-white"></i> <b>Linkedin</b>
                        </div>
                    </a>

                    <a class="mb-3 text-decoration-none text-white text-md-start text-center" href="https://wa.me/551388180266">
                        <div class="whatsapp-pill rounded-2 py-3 px-5">
                            <i class="bi bi-whatsapp text-white"></i> <b>Whatsapp</b>
                        </div>
                    </a>

                    <a class="mb-3 text-decoration-none text-white text-md-start text-center" href="https://github.com/viniciusdyo">
                        <div class="github-pill rounded-2 py-3 px-5">
                            <i class="bi bi-github text-white"></i> <b>GitHub</b>
                        </div>
                    </a>
                </div>
            </div>

        </article>
    </div>
    <div class="background-contato rounded-end-5 z-0 d-md-block d-none"></div>
</section>
<div class="my-3"></div>

<script src="~/js/build/contatos.min.js"></script>