@model IEnumerable<ConteudoModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.min.css">



<section id="home-carousel-bemvindo" class="splide container d-flex my-5">
    <div class="splide__track">
        <ul class="splide__list">
        </ul>
    </div>
    <div class="bv-carousel-progress">
        <div class="bv-carousel-progress-bar"></div>
    </div>
</section>

<section id="home-sobre-mim" class="container-fluid py-5">
    <article class="container  my-5 d-flex justify-content-center align-content-center flex-column flex-md-row flex-wrap">

        <div id="home-foto" class="col-md-4 col-12 ">
            <div class="home-foto-perfil rounded-2 mx-md-0 mb-md-0 mb-5 mx-auto">
            </div>
        </div>

        <div class="col-12 col-md-8 d-flex flex-column">
            <div class="w-100 mb-3">
                <h3 class="display-5 text-light pb-2 mb-3 border-bottom border-1 border-secondary">
                    Sobre Mim
                </h3>
                <p class="text-light mb-3 col-12">
                    &nbsp; Aficionado por tecnologia, estudo sobre a área desde a minha adolescência. Já atuei na área de suporte helpdesk, manutenção de desktop e notebook, suporte em infraestrutura de TI e desenvolvimento web. Sou formado em Análise e Desenvolvimento de Sistemas
                    pela Universidade Santa Cecília e meu foco é desenvolvimento de sistemas web. Veja abaixo algumas das tecnologias que utilizo na produção dos aplicativos.
                </p>
            </div>
            <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 pt-3 g-3 p-3 border border-1 border-primary rounded-2 sombra-cards sombra-efeito">
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-csharp-line colored fs-1 me-2"></i>
                    <p class="text-light">C#</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-dotnetcore-plain colored fs-1"></i>
                    <p class="text-light">.NET</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-javascript-plain colored fs-1"></i>
                    <p class="text-light">JavaScript</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-nodejs-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Node.JS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-webpack-plain colored fs-1"></i>
                    <p class="text-light">Webpack</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-sass-original colored fs-1"></i>
                    <p class="text-light">SASS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-css3-plain-wordmark colored fs-1"></i>
                    <p class="text-light">CSS3</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-bootstrap-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Bootstrap</p>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <a class="col-4 btn btn-primary text-white" href="/SobreMim">Saiba mais</a>
            </div>
        </div>
    </article>
</section>
<section class="container py-5">
    <h3 class="display-5 pb-3 mb-5 text-light border-bottom border-1 border-secondary">
        Projetos
    </h3>
    <article id="projetos-home" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-5">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </article>
    <div class="row d-flex justify-content-end">
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2">
            <a class="col-12 btn btn-primary text-white" href="/Projeto">Ver todos os projetos</a>
        </div>
    </div>
</section>

<script src="~/js/build/home.min.js"></script>