@model IEnumerable<ConteudoModel>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.min.css">

<section id="home-carousel-bemvindo" class="splide container d-flex py-5 my-5">
    <div class="splide__track">
        <ul class="splide__list">
          
        </ul>
    </div>
    <div class="bv-carousel-progress">
        <div class="bv-carousel-progress-bar"></div>
    </div>
</section>

<section id="home-sobre-mim" class="container-fluid py-5">
    <article class="container  my-5 d-flex justify-content-center align-content-center flex-column flex-md-row flex-wrap">

        <div id="home-foto" class="col-md-4 col-12 ">
            <div class="home-foto-perfil rounded-2 mx-md-0 mb-md-0 mb-5 mx-auto">
            </div>
        </div>

        <div class="col-12 col-md-8 d-flex flex-column">
            <h3 class="display-5 text-light pb-2 mb-3 border-bottom border-1 border-secondary">
                Sobre Mim
            </h3>
            <p class="text-light mb-3 col-10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris augue elit, dictum venenatis velit non, pulvinar luctus enim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris augue elit, dictum venenatis velit non, pulvinar luctus enim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris augue elit, dictum venenatis velit non, pulvinar luctus enim.
            </p>
            <div class="p-5 w-100 border border-1 border-primary rounded-2">
                <ul class="d-flex flex-column flex-md-row flex-wrap justify-content-start align-content-center align-items-center list-unstyled ">
                    <li class="d-flex flex-column justify-content-center col-md-4 col-12 mb-3 px-3">
                        <p class="text-light">C#, .NET</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar">
                            </div>
                        </div>
                    </li>
                    <li class="d-flex flex-column justify-content-center col-md-4 col-12 mb-3 px-3">
                        <p class="text-light">C#, .NET</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar">
                            </div>
                        </div>
                    </li>
                    <li class="d-flex flex-column justify-content-center col-md-4 col-12 mb-3 px-3">
                        <p class="text-light">C#, .NET</p>
                        <div class="skill-progress">
                            <div class="skill-progress-bar">
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </article>
</section>
<section class="container py-5">
    <h3 class="display-5 pb-3 mb-5 text-light border-bottom border-1 border-secondary">
        Projetos
    </h3>
    <article id="projetos-home" class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </article>
    <div class="row d-flex justify-content-end">
        <a href="/Projeto" class="col-4 btn btn-primary text-white">Ver todos os projetos</a>
    </div>
</section>

<script src="~/js/build/home.min.js"></script>