

    <form asp-controller="Autenticacao" asp-action="Logout" id="logoutForm" method="post">
        <p>Bem vindo, @User.Identity.Name</p>
        <input type="submit" value="Sair" class="btn btn-outline-primary" />
    </form>

    
