
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/projeto.min.css" />

<section class="container">

    <h1 class="text-white py-5">Projetos</h1>

    <div class="col-12 w-100 mb-3">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projetos</li>
            </ul>
        </nav>
    </div>

    <hr class="border-secondary mb-3" />

    <article id="projetosRoot" class="row row-cols-md-2 row-cols-1 g-3">

               
    </article>
</section>
<script src="~/js/build/projetos.min.js"></script>