@using ProjetoPortfolio.Web.Models.ViewModels;
@model IEnumerable<ProjetoPortfolio.Web.Models.ViewModels.ConteudoViewModel>

@{
    var classeCard = "col";
    var colClasse = "row-cols-2 row-cols-md-1";
    ViewData["Title"] = "Index";
}


<section class="container">
    <div class="row g-3">
        <a class="btn btn-primary col-4 text-white" data-bs-toggle="modal" data-bs-target="#modal-adicionar-conteudo">Adicionar Conteúdo</a>
        <article id="conteudo">

            @if (Model.Any())
            {
                <h1 class="h1 text-white">Conteúdo</h1>
                <hr class="border-primary" />

                @if (Model.Any() || Model.Count() > 0)
                {
                    classeCard = "col-4";
                    colClasse = "";
                }
                <div id="conteudos" class="row @colClasse g-3">
                    
                    
                    
                </div>
            }
            else
            {
                <hr class="border-primary" />
                <h1 class="h1 text-white">Nenhum conteúdo encontrado</h1>
            }
        </article>
    </div>
</section>

@await Html.PartialAsync("_AdicionarConteudoModal", new ConteudoViewModel(){
    Conteudo = new ConteudoModel(),
    CategoriaConteudo = new CategoriaConteudo(),
    Categorias = ViewBag.Categorias,
})

<script src="~/js/build/adminConteudo.min.js"></script>