@using ProjetoPortfolio.Web.Models.ViewModels;
@model IEnumerable<ProjetoPortfolio.Web.Models.ViewModels.ConteudoViewModel>

@{
    var classeCard = "col";
    var colClasse = "row-cols-2 row-cols-md-1";
    ViewData["Title"] = "Index";
}


<section class="container">
    <div class="row g-3">
        <a class="btn btn-primary col-4 text-white" data-bs-toggle="modal" data-bs-target="#adicionar-conteudo-modal">Adicionar Conteúdo</a>
        <h1 class="h1 text-white">Conteúdo</h1>
        <hr class="border-primary" />
        <article id="conteudo" class="animacao-pagina">

            
                <div id="conteudos-root" class="row col-12 col-md-4 g-3">
                </div>
            
        </article>
    </div>
</section>

<script src="~/js/build/adminConteudo.min.js"></script>


