@import './modules/_bootStrapConfig.scss';

body {
    background: $low-pure;
}

footer {
    position: relative;
    bottom: 0;
}


.bg-dark-darker {
    background-color: $cor-principal-escura !important;
}