@import './modules/_bootstrapConfig.scss';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
    background: $low-pure;
}

footer {
    position: relative;
    bottom: 0;
}


.bg-dark-darker {
    background-color: $cor-principal-escura !important;
}


.animacao-pagina {
    animation-name: blur-in;
    animation-duration: 1.2s;
}

@keyframes blur-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.bg-cor-escura-neutra {
    background-color: $cor-neutra-escura;
}

.bg-low-pure {
    background-color: $low-pure;
}

.bg-principal-escura {
    background-color: $cor-principal-escura;
}