@import './modules/_bootstrapConfig.scss';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    height: fit-content;
}

body {
    background: $low-pure;

}

footer {
    position: relative;
    bottom: 0;
}


.bg-dark-darker {
    background-color: $cor-principal-escura !important;
}


.animacao-pagina {
    animation-name: blur-in;
    animation-duration: 1.2s;
}

@keyframes blur-in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.bg-cor-escura-neutra {
    background-color: $cor-neutra-escura;
}

.bg-low-pure {
    background-color: $low-pure !important;
}

.bg-principal-escura {
    background-color: $cor-principal-escura;
}

.footer-portfolio {
    position: relative;
    bottom: 0;
}

// rgba($cor-principal-escura, 0.75)
.sombra-cards {
    -webkit-box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
    transition: all ease .5s;
}

.sombra-btn {
    -webkit-box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 16px 26px 2px rgba(0, 0, 0, 0.45);
}

.sombra-cards:hover {
    -webkit-box-shadow: 0px 8px 16px 2px rgba($info-pure, 0.35);
    -moz-box-shadow: 0px 8px 16px 2px rgba($info-pure, 0.35);
    box-shadow: 0px 8px 16px 2px rgba($info-pure, 0.35);
    transition: all ease .5s;
}