@import 'site';

#sobre-mim {
    .foto-perfil {
        height: 25em;
        max-width: 95%;
        background-image: url('https://media.discordapp.net/attachments/1138307215988641833/1138575788397035551/image.png?ex=65188ad5&is=65173955&hm=128fffe6f9061dc9808586b1921b3076ec89820feec76c9a130aaed67cfb124e&=');
        background-size: cover;
        background-position: center;
    }
}