@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link type="text/css" rel="stylesheet" href="~/css/sobreMim.min.css" />

<section id="sobre-mim" class="container">
    <article class="row g-3">
        <div>
            <h1 class="pb-3 border-bottom border-1 border-secondary text-white">Sobre mim</h1>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div id="home-foto" class="col-md-5 col-12">
                <div class="foto-perfil rounded-2 mx-md-0 mb-md-0 mb-5 mx-auto">
                </div>
            </div>
            <p class="text-light mb-3 col-md-7 col-12">
                &nbsp; Aficionado por tecnologia, estudo sobre a área desde a minha adolescência. Já atuei na área de suporte helpdesk, manutenção de desktop e notebook, suporte em infraestrutura de TI e desenvolvimento web. Sou formado em Análise e Desenvolvimento de Sistemas
                pela Universidade Santa Cecília e meu foco é desenvolvimento de sistemas web. 
            </p>
        </div>

        <div>
            <h2 class="pb-3 border-bottom border-1 border-secondary text-white">Minha história</h2>
        </div>
        <div>
            <p class="text-light mb-3 col-12">
                &nbsp; Meu nome é Vinicius, nasci em São Paulo - SP no ano de 1997 e atualmente vivo em Santos - SP. Desde cedo, tive contato com a tecnologia mesmo sem entender bem como funcionava aquilo, acessava sites como o Terra, Clickjogos, Ojogos, etc., jogava paciência e campo minado, mas o que me fez ter curiosidade maior por computadores foi quando comecei a instalar temas para o Windows XP, alterar as configurações do sistema operacional e, por fim, desenvolver servidores privados de jogos multijogadores online. Com 13 anos, comecei a estudar como 
                abrir meu próprio servidor de "With Your Destiny", um jogo popular nas lan houses do bairro, utilizando o Hamachi para distribuir o acesso aos meus amigos pessoais e online. Mais tarde, tentei com outro jogo, o Ragnarok Online, onde precisei estudar PHP, MySQL e C++. Todo esse processo chamou minha atenção para a área de desenvolvimento. Por um tempo, tentei atuar como 
                Webdesign no meu bairro utilizando PHP, MySQL, JavaScript, HTML e CSS. Fui de porta em porta nos comércios tentando vender meus sites mas, como eu era muito novo e sem conhecimento prático, não consegui vender nenhum. 
                <br />&nbsp; Com o passar do tempo, desisti dessa área, e ao me formar no Ensino Médio, passei no ENEM e ganhei uma bolsa de 100% para estudar Direito em uma Universidade prestigiada na área do curso. No fundo eu sabia que aquilo não era pra mim e a tecnologia a minha volta chamava cada vez mais minha atenção, seja no estágio onde eu ajudava as pessoas a lidar com os softwares do pacote Office ou no cotidiano que, vez ou outra, eu formatava o computador de algum amigo ou tentava ensinar o que sabia de programação pra quem tivesse curiosidade. Fui até onde pude e por fim tranquei a faculdade, voltando algumas vezes mas abandonando de vez depois de um tempo. 
                <br />&nbsp; Tentando entrar na área de tecnologia e sem sucesso, montei um negócio com o meu irmão. Atendia à domicílio as pessoas do bairro formatando computadores, efetuando a limpeza dos componentes, montando setups e configurando periféricos e afins para alguns comércios.
                <br />&nbsp; A virada de chave foi quando tive condições de entrar novamente em uma faculdade, agora de Análise e Desenvolvimento de Sistemas, e aos poucos as portas foram se abrindo. Meu sonho havia começado a tomar forma. Consegui um estágio de suporte em infraestrutura de TI durante o segundo semestre da faculdade, desempenhando o papel de helpdesk, formatando os computadores e configurando-os na rede da empresa, atendendo chamados em campo lidando com os equipamentos utilizados como impressoras, telefones ramais, câmeras de vigilância, projetores, Access Points, etc. Pude aprender muita coisa durante esse estágio mas não era a área que eu queria.
                Mesmo em outro setor de tecnologia, não deixei de estudar sobre programação, na época eu já havia concluído cursos de C#, .NET, SQL e após o horário de trabalho estudava sobre React e JavaScript. Não demorou muito para que eu começasse a buscar novas oportunidades para aprender mais sobre desenvolvimento de sistemas e como a empresa não permitia que eu trocasse de função dentro do estágio e fosse para o setor de desenvolvimento comecei a buscar vagas para estágios na área.
                <br />&nbsp; Após um tempo procurando, consegui a ingressar como desenvolvedor Web em outro estágio onde pude aprimorar meus conhecimentos e aprender ainda mais. Meu trabalho era desenvolver novas funcionalidades e efetuar manutenções no sistema da empresa utilizando as tecnologias: C#/.NET, SQL/SQL Server, JavaScript e SCSS; as tarefas eram designadas pelo AzureDevOps e o versionamento pelo Git. Foi nesse trabalho que realizei um dos meus primeiros sonhos que era de desenvolver uma página e vê-la publicada, aquilo me deu um gás que me ajudou a terminar a faculdade e continuar a batalhar pelo meu espaço como desenvolvedor.
                <br />&nbsp; Atualmente, estou em busca da minha vaga como Desenvolvedor Júnior, sou formado desde Abril de 2023 e atuo como freelancer. 
            </p>
        </div>
        <div class="mb-3">
            <h2 class="pb-3 border-bottom border-1 border-secondary text-white">Tecnologias</h2>
        </div>
        <div class="mb-3">
            <p class="text-light pb-3 col-12">Essas são as tecnologias que utilizo no cotidiano e utilizei para desenvolver este portfólio.</p>

            <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 pt-3 g-3 p-3 border border-1 border-primary rounded-2 sombra-cards sombra-efeito">
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-csharp-line colored fs-1 me-2"></i>
                    <p class="text-light">C#</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-dotnetcore-plain colored fs-1"></i>
                    <p class="text-light">.NET</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-javascript-plain colored fs-1"></i>
                    <p class="text-light">JavaScript</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-nodejs-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Node.JS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-webpack-plain colored fs-1"></i>
                    <p class="text-light">Webpack</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-sass-original colored fs-1"></i>
                    <p class="text-light">SASS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-css3-plain-wordmark colored fs-1"></i>
                    <p class="text-light">CSS3</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-bootstrap-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Bootstrap</p>
                </div>
            </div>
        </div>
    </article>
</section>

<script src="~/js/build/sobreMim.min.js">
</script>