@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sobre Mim";
}


<link type="text/css" rel="stylesheet" href="~/css/sobreMim.min.css" />

<section id="sobre-mim" class="container">
    <article class="row g-3">
        <div>
            <h1 class="pt-3 border-bottom border-1 border-secondary text-white">Sobre mim</h1>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div id="home-foto" class="col-md-5 col-12">
                <div class="foto-perfil rounded-2 mx-md-0 mb-md-0 mb-5 mx-auto">
                </div>
            </div>
            <p class="text-light mb-3 col-md-7 col-12">
                &nbsp; Aficionado por tecnologia, estudo sobre a área desde a minha adolescência. Já atuei na área de suporte helpdesk, manutenção de desktop e notebook, suporte em infraestrutura de TI e desenvolvimento web. Sou formado em Análise e Desenvolvimento de Sistemas
                pela Universidade Santa Cecília e meu foco é desenvolvimento de sistemas web.
            </p>
        </div>

        <div>
            <h2 class="pb-3 border-secondary text-white">Minha história</h2>
        </div>
        <div>
            <p class="text-light mb-3 col-12">
                &nbsp; Meu nome é Vinicius, nasci em São Paulo - SP no ano de 1997 e atualmente vivo em Santos - SP. Desde cedo tive contato com a tecnologia, sempre me inscrevia em cursos sobre informática, cursos de digitação, pacote office, CorelDraw. Mas o que me chamou atenção para a área de desenvolvimento de sistemas foram os jogos multijogadores online (MMO).
                Meu primeiro contato com linguagens de programação aconteceu quando tentei criar meus próprios servidores privados de "With Your Destiny" e "Ragnarok", dois jogos da minha adolescência, que utilizavam PHP, C++ e MySQL em seus sistemas. E, estudando essas tecnologias, comecei a desenvolver minhas primeiras páginas web, utilizando HTML, CSS, JavaScript, PHP e MySQL.

                
            </p>
        </div>
        <div class="mb-3">
            <h2 class="pt-3 border-secondary text-white">Tecnologias</h2>
        </div>
        <div class="mb-3">
            <p class="text-light pb-3 col-12">&nbsp; Atualmente, sou formado em Análise e Desenvolvimento de Sistemas e trabalho como Desenvolvedor Web Fullstack freelancer. Essas são as tecnologias que utilizo no cotidiano e utilizei para desenvolver este portfólio.</p>

            <div class="row row-cols-3 row-cols-sm-4 row-cols-md-5 pt-3 g-3 p-3 border border-1 border-primary rounded-2 sombra-cards sombra-efeito">
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-csharp-line colored fs-1 me-2"></i>
                    <p class="text-light">C#</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-dotnetcore-plain colored fs-1"></i>
                    <p class="text-light">.NET</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-javascript-plain colored fs-1"></i>
                    <p class="text-light">JavaScript</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-nodejs-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Node.JS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-webpack-plain colored fs-1"></i>
                    <p class="text-light">Webpack</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-sass-original colored fs-1"></i>
                    <p class="text-light">SASS</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-css3-plain-wordmark colored fs-1"></i>
                    <p class="text-light">CSS3</p>
                </div>
                <div class="col d-flex flex-column justify-content-center align-content-center align-items-center">
                    <i class="devicon-bootstrap-plain-wordmark colored fs-1"></i>
                    <p class="text-light">Bootstrap</p>
                </div>
            </div>
        </div>
    </article>
</section>

<script src="~/js/build/sobreMim.min.js">
</script>