

<link href="~/css/adminProjeto.min.css" type="text/css" rel="stylesheet" />

<section class="container-fluid">
    <div class="container">
        <div class="row g-3">
            <a class="btn btn-primary text-white col-4" data-bs-toggle="modal" data-bs-target="#modal-adicionar-projeto">Adicionar novo projeto</a>
            <article id="projetoRoot">
               
            </article>
        </div>
    </div>
</section>

<script src="~/js/build/adminProjeto.min.js"></script>